<div class="container-fluid" id="titre-page">
<h1 class="sous-titre">Autre</h1>
</div>
<div class="container" id="categorie-autres">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 video-autres">
        <h2 class="title-autre">Disney : Inside the dream machine</h2>
          <p>
            <h4><b>Code de visionnage : disney</b></h4>
            Réalisation : Axel Edieu</br>
            Assistante réalisatrice : Marion Cammeo</br>
            Chef Opérateur : Anthony Moreira</br>
            Ingénieur son : César Bernard</br>
            Image : Axel Edieu, Marion Cammeo, Sophie Chaffaut</br>
            Montage : Sophie Chaffaut</br>
          </p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://player.vimeo.com/video/159862811" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <p><a href="https://vimeo.com/159862811">Inside the dream machine</a> de <a href="https://vimeo.com/user48403095">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Vimeo</a>.</p>
          <hr>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 video-autres">
          <h2 class="title-autre">Parodie humoristique de Retour vers le futur II.</h2>
          <h4 style="color: transparent;"><b>Code de visionnage : aucun</b></h4>
            <p>
              Esthétique film suédé</br>
              Réalisation, image, montage :</br>
              Anthony Moreira</br>
              César Bernard</br>
              Clémence P-Lalo</br>
              Sophie Chaffaut</br>
            </p>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe src="https://player.vimeo.com/video/162810127" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p><a href="https://vimeo.com/162810127">Parodie Back to the futur II</a> de <a href="https://vimeo.com/user48403095">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Vimeo</a>.</p>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12 video-autres">
            <h2 class="title-autre">Les Mémoires, Film expérimental</h2></br>
              <p>
                Réalisation : Sophie Chaffaut, Clémence Petitqueux Lalo</br>
                Image : Sophie Chaffaut</br>
                Archive : Clémence Petitqueux Lola et Sophie Chaffaut</br>
                Montage : Sophie Chaffaut, Clémence Petitqueux Lalo</br>
                Textes :</br>
                1 : Je ne suis pas, Allen Ginsberg</br>
                2 : Les Mémoires, Clémence Petitqueux Lalo</br>
              </p>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://player.vimeo.com/video/161024250" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <p><a href="https://vimeo.com/161024250">Les Mémoires</a> de <a href="https://vimeo.com/user48403095">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Vimeo</a>.</p>
              <hr>
            </div>
          <div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12 video-autres">
            <h2 class="title-autre">Captation de concert Classique<br/>Association Rockestra</h2>
              <p>
                Réalisation Sophie chaffaut</br>
                Montage : Sophie Chaffaut</br>
                Captation : Germain Fidon et Sophie Chaffaut</br>
                Les autres musiques sont visibles sur Youtube, n'hésitez pas à aller voir!
              </p>
              <a href="https://www.youtube.com/channel/UCqW6n8-rrRplD1mHpKifOCA">Chaine youtube Rockestra</a>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LnAoMtDqscY" frameborder="0" allowfullscreen></iframe>
              </div>
              <p><a href="https://vimeo.com/153619507">Captation de concert Classique, Association Rockestra</a> de <a href="https://www.youtube.com/watch?v=LnAoMtDqscY">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Youtube</a>.</p>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12 video-autres">
              <h2 class="title-autre">Making of Journée d'une Mariée</h2>
              <p>Réalisatrice: Marion Angeard</p>
              <img ng-src="images/maquille.png" class="img-responsive">
            <hr/>
          </div>
        </div>
        </div>
      </div>
    </div>
