
<div class="container-fluid" id="titre-page">
<h1 class="sous-titre">Critiques</h1>
<p></p>
</div>
<!--<hr/ id="therapie"> -->
<div class="container">
<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="critiqueCtrl">
  <div class="row" >
      <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="critique1"  >
          <h2 >{{c1.titre}}</h2>
          <h3>{{c1.soustitre}}</h3>
          <h5>Rédigé par {{c1.redacteur}}</h5>
          <p>{{c1.contenu}}</p>
      </div>
    </div>
  </div>
    <hr/ id="jugement">
    <div class="row"  id="jugement">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="critique2">
          <h2 >{{c2.titre}}</h2>
          <h3>{{c2.soustitre}}</h3>
          <h5>Rédigé par {{c2.redacteur}}</h5>
          <p>{{c2.contenu}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
