<div class="container-fluid" id="titre-page" ng-controller="documenataireCtrl">
<h1 class="sous-titre">Documentaire</h1>
</div>
<div class="container" id="categorie-docu">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 video-docu">
          <h2>Le chemin des âmes</h2>
            <p> <b>Synopsis</b> : Qu'est-ce que La mémoire? Un mémorial, une statue, un cimetière ou un livre, les
              souvenirs peut-être? Sans donner de réponse, Le chemin des âmes présente ces lieux de la
              Grande Guerre. Ronces, ruines et chemins font face à l’oublie, ainsi, les voix du passé
              ressurgissent.
            </p>
            <br/>
              <p>
                Réalisation & idée originale : Sophie Chaffaut<br />
                Son & Sound Design : César Bernard<br />
                Scénario : Clémence Petitqueux Lalo<br />
                Image & Montage : Sophie Chaffaut
              </p>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PEZveojupKo" frameborder="0" allowfullscreen></iframe><br />
              </div>
              <p><a href="https://www.youtube.com/watch?v=PEZveojupKo">Le chemin des âmes</a> de <a href="https://www.youtube.com/channel/UCMA1s8OSoZKVPnGRurkhxLQ">Sophie Chaffaut</a> sur <a href="https://youtube.com">Youtube</a>.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 video-docu">
              <h2>Enfants sauvages</h2>
                <p>Portrait de la famille Bauer. Depuis 8 générations ils sont dresseurs de Fauves. Kid et Namayka présentent leur vision du métier : Entre passion, art et éducation. 
                </p>
                <br/>
                  <p>
                    Réalisation: Sophie chaffaut</br>
                    Ingénieur son : César BERNARD</br>
                    Cadreur : Anthony MOREIRA</br>
                    Chef Opérateur : Brice VINCENT
                  </p>
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/d8Pphd9-sns" frameborder="0" allowfullscreen></iframe><br/>
                  </div>
                  <p><a href="https://www.youtube.com/watch?v=d8Pphd9-sns">Enfants sauvages</a> de <a href="https://www.youtube.com/channel/UCMA1s8OSoZKVPnGRurkhxLQ">Sophie Chaffaut</a> sur <a href="https://youtube.com">Youtube</a>.</p>
              </div>
          </div>
        </div>
      </div>
