<div class="container-fluid" id="titre-page" ng-controller="miseensceneCtrl">
  <h1 class="sous-titre" >Mise en scène</h1>
  <p></p>
</div>
<hr/>
<div class="container">
  <div class=" col-lg-12 col-md-12 col-sm-9 col-xs-9" id="photo-miseenscene" >
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/Shooting-clemence.jpg" data-lightbox="clemence">
              <img ng-src="images/mise-en-scene/Shooting-clemence.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo" >
          <a href="../../lightbox2/dist/images/lenvolle.png" data-lightbox="envolle">
            <img ng-src="images/mise-en-scene/lenvolle.png" class="img-responsive" >
          </a>
          <div class="content-modele">
          </div>
      </div>

      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/mes1.jpg" data-lightbox="mes1">
              <img ng-src="images/mise-en-scene/mes1.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/mes2.jpg" data-lightbox="mes2">
              <img ng-src="images/mise-en-scene/mes2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
      </div>
    </div>
</div>
