<div class="container-fluid" id="titre-page" ng-controller="modeleCtrl">
  <h1 class="sous-titre" >Modèle</h1>
  <p></p>
</div>
<hr/>

<div class="album-photo">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
        <a href="../../lightbox2/dist/images/5.jpg" data-lightbox="image-5" >
          <img ng-src="images/Modele/sophie.jpg" class="img-responsive"><!--Image #1 -->
        </a>
          <div class="content-modele">
          </div>
      </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/2.jpg" data-lightbox="image-2">
              <img ng-src="images/Modele/2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/3.jpg" data-lightbox="image-3">
              <img ng-src="images/Modele/3.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/4.jpg" data-lightbox="image-4">
              <img ng-src="images/Modele/4.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
          <a href="../../lightbox2/dist/images/1.jpg" data-lightbox="image-1">
            <img ng-src="images/Modele/1.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>

    </div>
  </div>
</div>
