<div class="container-fluid" id="titre-page" ng-controller="paysageCtrl">
  <h1 class="sous-titre">Paysage</h1>
  <p></p>
</div>
<hr/>
<div class="container" id="container-paysage">
  <div class=" col-lg-12 col-md-12 col-sm-9 col-xs-9" >
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/paysage.png" data-lightbox="paysages">
              <img ng-src="images/paysage/paysage.png" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/arbres.jpg" data-lightbox="paysages">
              <img ng-src="images/paysage/arbres.png" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/paysage2.jpg" data-lightbox="paysages">
              <img ng-src="images/paysage/paysage2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="../../lightbox2/dist/images/payage3.jpg" data-lightbox="paysages">
              <img ng-src="images/paysage/payage3.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
          <a href="../../lightbox2/dist/images/paysage1.jpg" data-lightbox="paysages">
            <img ng-src="images/paysage/paysage1.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
          <a href="../../lightbox2/dist/images/Barcelos2.jpg" data-lightbox="paysages">
            <img ng-src="images/paysage/Barcelos2.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>
    </div>

  </div>
</div>
