<div class="container-fluid" id="titre-page">
<h1 class="sous-titre">Autre</h1>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="title-autre">Making of Journée d'une Mariée, Sorti fin mai</h2>
          <p>Réalisatrice: Marion Angeard</p>
          <img ng-src="images/maquille.png" class="img-responsive">
        </a>
      </div>
      <div >
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2 class="title-autre">Captation de concert Classique<br/>
              Association Rockestra</h2>
                <p>
                  Réalisation Sophie chaffaut</br>
                  Montage : Sophie Chaffaut</br>
                  Captation : Germain Fidon et Sophie Chaffaut</br>
                  Les autres musiques sont visibles sur Youtube, n'hésitez pas à aller voir!
                </p>
                <a href="https://www.youtube.com/channel/UCqW6n8-rrRplD1mHpKifOCA">Chaine youtube Rockestra</a>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/LnAoMtDqscY" frameborder="0" allowfullscreen></iframe>
                </div>
                <p><a href="https://vimeo.com/153619507">Captation de concert Classique, Association Rockestra</a> de <a href="https://www.youtube.com/watch?v=LnAoMtDqscY">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Youtube</a>.</p>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>
