<div class="container-fluid" id="titre-page" ng-controller="documenataireCtrl">
<h1 class="sous-titre">Documentaire</h1>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
      </div>
      <div class="felin">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>Enfants sauvages</h2>
            <p>Portrait de la famille Bauer. Depuis 8 générations ils sont dresseurs de Fauves. Kid et Namayka présentent leur vision du métier : Entre passion, art et éducation. 
            </p>
            <br/>
              <p>
                Réalisation: Sophie chaffaut</br>
                Ingénieur son : César BERNARD</br>
                Cadreur : Anthony MOREIRA</br>
                Chef Opérateur : Brice VINCENT
              </p>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/d8Pphd9-sns" frameborder="0" allowfullscreen></iframe><br/>
              </div>
              <p><a href="https://www.youtube.com/watch?v=d8Pphd9-sns">Enfants sauvages</a> de <a href="https://www.youtube.com/channel/UCMA1s8OSoZKVPnGRurkhxLQ">Sophie Chaffaut</a> sur <a href="https://youtube.com">Youtube</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
