<div class="container-fluid" id="titre-page" ng-controller="documenataireCtrl">
<h1 class="sous-titre">Documentaire</h1>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
      </div>
      <div class="felin">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>Félins pour l'autre</h2>
                <p>
                  Réalisation Sophie chaffaut</br>
                  Ingénieur son : César BERNARD</br>
                  Cadreur : Anthony MOREIRA</br>
                  Chef Opérateur : Brice VINCENT
                </p>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe  class="embed-responsive-item" src="https://player.vimeo.com/video/153619507" width="525" height="425" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/153619507">Making of Félins pour l&#039;autre</a> de <a href="https://vimeo.com/user48403095">Sophie Chaffaut</a> sur <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>
