<div class="container-fluid" id="titre-page" ng-controller="fictionCtrl">
<h1 class="sous-titre">Documentaire</h1>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="ode">
            <h2>Comme une ode à la vie</h2>
            <p>
              Court-métrage réalisé par <strong>Adrien Berlandi, Manon De Vos et Sophie Chaffaut
              Troisième prix lycéen</strong> au <a href="http://www.aquitaineonline.com/actualites-en-aquitaine/dordogne/3174-festival-du-film-de-sarlat/palmares-festival-du-film-de-sarlat.html" target=_blank>Festival du film de Sarlat (2014)</a></br>
              <b>Musiques utilisées</b> :</br>
              The sound of silence, Simon & Garfunkel
              Comptine d’un autre été, Yann Tiersen
              Una Mattina, Ludivico Einaudi
              A Little Bit Longer, Florent Dorin
              The Drowned Girl, Yann Tiersen
            </p>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154184361" width="525" height="425" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p>
              <a href="https://vimeo.com/154184361">Comme une ode à la vie</a>
              de <a href="https://vimeo.com/user48403095">Sophie Chaffaut</a>
              sur <a href="https://vimeo.com">Vimeo</a>.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
