
<div class="container-fluid" id="titre-page">
<h1 class="sous-titre">Accueil</h1>
<p></p>
</div>
<!--<h2 >Photos de tournage</h2>-->
<div class="mesimages">
  <div class="col-md-11 col-sm-12 col-xs-12" >
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <a ng-href="#/autre">
              <img ng-src="images/maquille.png" class="img-responsive">
            </a>
            <div class="post-content">
              <div class="caption"><p>Journée d’une mariée</p></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <a ng-href="#/documentaire">
              <img ng-src="images/Felinspourlautre.png" class="img-responsive">
            </a>
            <div class="post-content" >
              <div class="caption"><p>Felins pour l'autre</p></div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <a ng-href="#/miseenscene">
              <img ng-src="images/lenvolle.png" class="img-responsive">
            </a>
            <div class="post-content" >
              <div class="caption"><p>L'envolée</p></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <a ng-href="#/modele">
              <img ng-src="images/2.png" class="img-responsive">
            </a>
            <div class="post-content" >
              <div class="caption"><p>Modèle</p></div>
            </div>
        </div>
    </div>
</div>
</div>
