<div class="container-fluid" id="titre-page" ng-controller="miseensceneCtrl">
  <h1 class="sous-titre" >Mise en scène</h1>
  <p></p>
</div>
<hr/>

<div class="container">
  <div class="col-md-11 col-sm-12 col-xs-12" >
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo" >
          <a href="#">
            <img ng-src="images/lenvolle.png" class="img-responsive" >
          </a>
          <div class="content-modele">
          </div>
      </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="#">
              <img ng-src="images/mes2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid-photo">
            <a href="#">
              <img ng-src="images/mes1.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
</div>
</div>
