<div class="container-fluid" id="titre-page" ng-controller="modeleCtrl">
  <h1 class="sous-titre" >Modèle</h1>
  <p></p>
</div>
<hr/>

<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12" >
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
          <a href="#">
            <img ng-src="images/sophie.png" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/Modele/2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/Modele/3.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/Modele/4.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
          <a href="#">
            <img ng-src="images/Modele/1.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>

    </div>
</div>
</div>
