<div class="container-fluid" id="titre-page" ng-controller="paysageCtrl">
  <h1 class="sous-titre">Paysage</h1>
  <p></p>
</div>
<hr/>
<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12" >
    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/paysage.png" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/arbres.png" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/paysage2.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
            <a href="#">
              <img ng-src="images/payage3.jpg" class="img-responsive">
            </a>
            <div class="content-modele">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
          <a href="#">
            <img ng-src="images/paysage1.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12" id="polaroid">
          <a href="#">
            <img ng-src="images/Barcelos2.jpg" class="img-responsive">
          </a>
          <div class="content-modele">
          </div>
      </div>
    </div>

  </div>
</div>
