<div class="container-fluid" id="titre-page" ng-controller="photoCtrl">
  <h1 class="sous-titre" >Photographies</h1>
  <p></p>
</div>
<hr/>
<div class="container-fluid" >
  <div class="col-md-12 col-sm-12 col-xs-12" id="container-realisation">
    <div class="row" >
      <div class="center-block">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a ng-href="#/paysage">
              <img ng-src="images/paysage.png" class="img-responsive">
            </a>
            <div class="post-content" >
              <div class="caption"><p>Paysage</p></div>
            </div>
          </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <a ng-href="#/miseenscene">
            <img ng-src="images/miseenscene.png" class="img-responsive">
          </a>
          <div class="post-content" >
            <div class="caption"><p>Mise en scène</p></div>
          </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a ng-href="#/modele">
          <img ng-src="images/modele.png" class="img-responsive">
        </a>
        <div class="post-content" >
          <div class="caption"><p>Modèle</p></div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
</div>
