<div class="container-fluid" id="titre-page" ng-controller="realisationCtrl">
  <h1 class="sous-titre">Réalisations</h1>
<p>Voici l'ensemble de mes réalisations personnelles, allant du documentaire à la fiction et en passant par d'autres productions</p>
</div>
<hr/>
<div class="container-fluid" >
  <div class="col-md-12 col-sm-12 col-xs-12" id="container-realisation">
    <div class="row" >
      <div class="center-block">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a ng-href="#/documentaire">
              <img ng-src="images/Felinspourlautre2.png" class="img-responsive">
            </a>
            <div class="post-content" >
              <div class="caption"><p>Documentaire</p></div>
            </div>
          </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
          <a ng-href="#/fiction">
            <img ng-src="images/ode.png" class="img-responsive">
          </a>
          <div class="post-content" >
            <div class="caption"><p>Fiction</p></div>
          </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a ng-href="#/autre">
          <img ng-src="images/maquille.png" class="img-responsive">
        </a>
        <div class="post-content" >
          <div class="caption"><p>Autre</p></div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
</div>
